.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 50px;
    overflow: hidden;
}

.list{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-self: center;
    margin-top: 50px;
}

ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    list-style: none;
    font-size: 2rem;
    width: 100vw;
    max-width: 800px;
    background-color: white;
}

li{
    min-height: 80px;
    min-width: 400px;
    border: 2px #000 solid;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

li:hover{
    background-color: rgb(238, 238, 238);
    transition: 0.2s ease;
}

a{
    text-decoration: none;
    color: #000;
}

.add-btn{
    border: none;
    background-color: white;
    scale: 2.5;
}

.material-symbols-outlined:hover{
    background-color: #000;
    transition: 0.2s ease;
    color: #fff;
}

.material-symbols-outlined:active{
    scale: 1.2;
    transition: 0.2s ease;
}

.material-symbols-outlined{
    cursor: pointer;
    border-radius: 50%;
}