<div class="wrap">
    <div class="item-text">grapes</div>
    <div class="wrap-item">
        <input class="name-input" type="text" placeholder="grapes">
        <div class="quantity">25
            <select name="select" id="select">
                <option value="kg">kg</option>
                <option value="g">g</option>
                <option value="l">l</option>
                <option value="ml">ml</option>
                <option value="item">item</option>
            </select> 
        </div>
        <div class="price">$14</div>
        <input class="price-input" type="text" placeholder="$14">
        <button class="ok" routerLink="/list" routerLinkActive="active"><i class="material-symbols-outlined">check</i></button>
    </div>
    
</div>
